/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.global-header {
  border-bottom: 1px solid #82bc00;
  background: #333;
}

.wrapper-footer {
    background: #333;
    clear: both;
}
a:not(.btn) {
  color: #82bc00
}
a:hover:not(.btn) {
    color: #689600;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header
header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
    overflow: visible;  // fix for Safari
  }
  background-color: #333;
  box-shadow: none;
}

.global-header .nav-links .secondary .nav-item a.help-link{
  color: #82bc00;
}
header.global-header .nav-links .main .nav-tab a {
  color: #82bc00;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

a:not(.btn):hover{
  color: #689600;
}
header.global-header .header-logo .course-header{
  color: #fff;
}
.wrapper-footer footer .site-nav .nav-item .nav-link{
  color: #fff;
}
p a:not(.btn):hover{
  color: #689600;
}
header.global-header .nav-links .secondary a.sign-in-btn{
  color:#fff;
}
.global-header .nav-links .secondary a.sign-in-btn{
  background-color: #333;
}

.global-header .nav-links .secondary .toggle-user-dropdown {
  color: #82bc00;
}
span.username{
  color: #82bc00;
}
a.help-link{
  color: #82bc00;
}

/////////////////// Sign in form

.login-register .form-field {
    // Hide "Sign in with your company or school link"
    button.enterprise-login {
        display: none;
    }
}

///////Camara added

.login-register-content h1{
  color: #a3eb00;
}
.login-register .action-primary{
  background: #82bc00;
}
.login-register .action-primary:hover{
  background: #689600;
}
.login-register .action-primary:focus{
  background: #689600;
}
.login-register-content a:hover{
  color: #689600;
}
///////Camara Added End


/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.home .courses-container .courses .courses-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .courses-listing-item {
    margin: 0 20px 30px 20px;
    // Fix right margin
    &:nth-child(4n), &:last-child {
      margin-right: 20px;
    }
  }
}


///////Camara Added
.home > header .title .course-search .search-button{
  border: 2px solid #82bc00;
  background: #82bc00;
}
.home > header .title .course-search .search-button:hover{
  background: #689600;
  border: 2px solid #689600;
}
.find-courses .discovery-submit{
  border: 2px solid #82bc00;
  background: #82bc00;
}
.find-courses .discovery-submit:hover{
  background: #689600;
  border: 2px solid #689600;
}
.find-courses .discovery-submit:focus {
  background: #689600;
}
.courses-container .courses .course{
  border-bottom: 3px solid #a3eb00;
}

.find-courses .discovery-input:focus {
  box-shadow: none;
  border-color: #689600;
}
.find-courses .search-facets .facet-option:hover{
  background: #82bc00;
}
.find-courses .search-facets .facet-option:focus{
  background: #82bc00;
}
.search-bar .search-button:hover:hover{
  background: #689600;
}
.search-bar .search-button:hover{
  background: #689600;
}
.find-courses .filters .clear-filters{
  color: #82bc00
}
.find-courses .loading-spinner{
  background: #689600;
}
.course-outline .block-tree .section .section-name{
  color: #333;
}
.course-outline .block-tree .outline-button .fa {
  color: #82bc00;
}
a:visited:not(.btn):hover{
  color: #689600;
}

/////////Camara Added End

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

/////////Camara Added
.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a:hover{
  color: #689600;
}
.dashboard .main-container .my-courses .course .details .enter-course{
  color: #82bc00;
  border: 1px solid #689600;
}
.dashboard .main-container .my-courses .course .details .enter-course:hover{
  background-color: #82bc00;
}

input[type="submit"], input[type="button"], button, .button {
  color: #fff;
}
/////////Camara Added End


////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
    // It is necessary to specify `nav` in order to override the common higher priority rule
    @include media-breakpoint-up(lg) {
      margin-top: $header-height;
    }
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;

  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;
      }
      p {
          text-align: right;
      }
  }
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #fff;
}
